.wrapper{
  text-align: center;
  display: block;
}


.boardWrapper{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
}


.cellWrapper{
  display: grid;
  border: 1px solid black;
  padding: 0;
  align-items: center;
  justify-items: center;
}
.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  cursor: pointer;
}
.cell.diamond {
  background-image: url(diamond.png);
}
.cell.arrow-left {
  background-image: url(arrow-left.png);
}
.cell.arrow-right {
  background-image: url(arrow-right.png);
}
.cell.arrow-up {
  background-image: url(arrow-up.png);
}
.cell.arrow-down {
  background-image: url(arrow-down.png);
}
.cell.unknown {
  background-image: url(question.png);
}
