<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <div id="container">
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
